---
import Layout from "../layouts/Layout.astro";
import InteractionCard from "../components/InteractionCard.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import InputContainer from "../components/InputContainer.astro";
import InputFieldAndButtonContainer from "../components/InputFieldAndButtonContainer";

const url = new URL(Astro.request.url);
const contentUrl = `https://humankind-637da-default-rtdb.firebaseio.com/${url.pathname}.json`;
const response = await fetch(contentUrl);
const { interactions } = await response.json();
---

<Layout title="Skipper Bot 🦊">
  <Card id="inputCard">
    <Header headerSize="medium" id="cardHeader">New interaction ✨</Header>
    <InputContainer headerText="Interaction info">
      <input
        type="text"
        placeholder="Name"
        class="inputComponent"
        id="nameInput"
        onchange="deleteEmptyClassHome(this)"
      />
      <input
        type="text"
        placeholder="Description"
        class="inputComponent"
        id="descriptionInput"
        onchange="deleteEmptyClassHome(this)"
      />
    </InputContainer>
    <InputContainer headerText="Commands">
      <InputFieldAndButtonContainer
        typeOfInput="Command"
        isVisible="no"
        client:load
      />
    </InputContainer>
    <InputContainer headerText="Responses">
      <InputFieldAndButtonContainer
        typeOfInput="Response"
        isVisible="no"
        client:load
      />
    </InputContainer>
  </Card>
  <div class="interactionsListing">
    {
      Object.values(interactions).map(
        (interaction: {
          name: string;
          description: string;
          key: string;
          commands: string[];
          responses: string[];
        }) => {
          return (
            <InteractionCard
              id={interaction.key}
              title={interaction.name}
              description={interaction.description}
              commands={interaction.commands}
              responses={interaction.responses}
            />
          );
        }
      )
    }
  </div>
</Layout>

<style>
  .interactionsListing {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
</style>
