---
import Card from "./Card.astro";
import Header from "./Header.astro";
import EditInteractionButton from "./EditInteractionButton";
import InputContainer from "./InputContainer.astro";
import DeleteFieldButton from "./DeleteFieldButton";
import AddImageButton from "./AddImageButton";
import AddButton from "./AddButton";
import SaveSendButton from "./SaveSendButton";
import CancelButton from "./CancelButton";

import "../styles/buttons.css";

export interface Props {
  title: string;
  description: string;
  id: string;
  commands: Array<string>;
  responses: Array<string>;
}

const { title, description, id, commands, responses } = Astro.props;
---

<Card id={id}>
  <div class="titleContainer">
    <Header headerSize="medium" id="interactionCardTitle">{title}</Header>
    <EditInteractionButton client:load />
  </div>
  <p class="interactionDescription">{description}</p>
  <div id="addInteractionContainer">
    <InputContainer headerText="Commands">
      {
        commands.map((command) => {
          return (
            <div class="inputFieldContainer">
              <input
                type="text"
                class="commandInput inputComponent"
                value={command}
              />
              <DeleteFieldButton isVisible="yes" client:load />
            </div>
          );
        })
      }
      <AddButton iconUsed="add" innerText="Add command" client:idle />
    </InputContainer>
    <InputContainer headerText="Responses">
      {
        responses.map((response) => {
          //prettier-ignore
          return (
            <div class="inputFieldContainer">
              <textarea class="responseInput inputComponent">{response}</textarea>
              <AddImageButton isVisible="yes" client:load />
              <DeleteFieldButton isVisible="yes" client:load />
            </div>
          );
        })
      }
      <AddButton iconUsed="add" innerText="Add response" client:idle />
    </InputContainer>
    <div class="inputAddButtons">
      <SaveSendButton
        client:load
        innerText="Save changes"
        iconUsed=""
        buttonType="small"
      />
      <CancelButton client:load />
    </div>
  </div>
</Card>

<style>
  .titleContainer {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: stretch;
  }
  .interactionDescription {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #addInteractionContainer {
    display: none;
    flex-direction: column;
    gap: 24px;
  }
  .inputFieldContainer {
    display: grid;
    grid-template-columns: 1fr auto auto;
    column-gap: 8px;
  }
  .inputComponent {
    font-family: "TTCommonsProDemiBold";
    border: none;
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #f3f3f3;
    border-radius: 16px;
    outline: none;
    resize: vertical;
    text-align: left;
    white-space: pre;
  }
  .inputComponent:focus {
    background-color: #e3e3e3;
  }
</style>
